@import '@fontsource-variable/onest';
/* @tailwind base; */
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
}
:root{
    --blanco: #F3F3F4;
    --fondo-negro:#14110F ;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Onest Variable', sans-serif;
}

h1 {
    font-size: 4.5em;
    color: var(--primary-500);
    text-shadow: 0px 0px 50px #f59f0b5d;
    
}
.texto {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 70%;
}

.texto p {
    font-size: 1.5em;
}



.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.03;  
    z-index: 1000;
    pointer-events: none;
    background: url(../assets/img/noise.gif) ;
}


span.typed-cursor{
    font-size: 2.1em;

    color: var(--primary-500);
}
.p-fieldset,.p-fieldset .p-fieldset-legend {
    background-color: transparent;
    box-shadow: 0px 0px 50px -30px #fbbe244a;

    border: 1px solid #222;
    /* opacity: 0.2; */
}

.p-fieldset {
    padding: 20px;
    /* color:var(--primary-300) ; */
    
}
/* .p-fieldset-toggler {
    margin
} */
.p-dialog .p-dialog-header {
    background: var(--primary-color-text);
}

.p-galleria .p-galleria-thumbnail-container {

    background-color: transparent !important;

}

/* dialog componente */

/* .p-dialog .p-component{
    width:  min-content;
} */
.p-galleria-content{
    gap: 1rem;
}
.p-galleria-thumbnail-items{

    gap: 3px;
}

@media (max-width: 900px) {
    .p-fieldset{
        width: 80%;
        margin: 0 auto;
    }
    .p-fieldset-legend{
        margin: 0 auto;
    }
}
