@import '@fontsource-variable/onest';

*{
    margin: 0;
    padding: 0;
}
:root{
    --blanco: #F3F3F4;
    --fondo-negro:#14110F ;
}

body {
    font-family: 'Onest Variable', sans-serif;
}
.noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: 0.03;  
    z-index: 1000;
    pointer-events: none;
    background: url(../assets/img/noise.gif) ;
}


span.typed-cursor{
    font-size: 2.1em;

    color: var(--primary-500);
}
.p-fieldset,.p-fieldset .p-fieldset-legend {
    background-color: transparent;
    box-shadow: 0px 0px 50px -30px #fbbe2421;

    border: 0.3px solid #f59f0b19;
    /* opacity: 0.2; */
}

.p-fieldset {
    padding: 20px;
    /* color:var(--primary-300) ; */
    
}
/* .p-fieldset-toggler {
    margin
} */
@media (max-width: 900px) {
    .p-fieldset{
        width: 50vh;
        margin: 0 auto;
    }
    .p-fieldset-legend{
        margin: 0 auto;
    }
}
